@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

body {
    background: #cfeffc;
    margin: 0 0 0 0;
    font-family: "JetBrainsMono-Regular", Monospace, Courier;
}

#container_div {
    background-image: url("../img/clouds.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

#logo {
    display: block;

    margin-left:  auto;
    margin-right: auto;

    padding-top:    20px;
    padding-bottom: 20px;
}

#canvas_div {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 90%;

    max-width:  600px;
    max-height: 540px;

    background-color: #BBBBBB;
    box-shadow: 5px 7px 6px 2px #7c7c7c;
}

#download {
    padding-top: 2em;
    text-align: center;
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%;
}
